<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body style="font-family: system-ui, Arial, sans-serif;">
<h2 th:text="'안녕하세요, ' + ${username} + '님!'">안녕하세요, 사용자님!</h2>
<p>
    당신 나와 함께 해라
</p>
<p>
    <a th:href="${verifyLink}"
       style="display:inline-block;padding:10px 16px;border-radius:6px;text-decoration:none;border:1px solid #222;">
        링크 들어오기.
    </a>
</p>

<img th:src="'cid:logo'" alt="Logo" width="120"/>
</body>
</html>